 @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.center {
    width: 1160px;
    margin: 0 auto;
}

/* У всех элементов списка уберем маркеры */
li {
    list-style-type: none;
}

/* У всех ссылок уберем подчеркивание */
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------------Header--------------------------------- */

.page-header-index {
    margin-top: 17px;
    padding: 0 60px 167px 60px;
    box-sizing: border-box;
    color: #000000;
    background: linear-gradient(#FFFFFF 23px, #FFE17F 23px);
}

/* Header страницы Монопод */
.page-header-monopod {
    padding: 20px 60px 40px 60px;
    box-sizing: border-box;
    color: #000000;
    background: linear-gradient(#FFFFFF 23px, #FFE17F 23px);
}

/* блок поиска */
.search {
    width: 516px;
}

/* Форма поиска (input) */
.search-form {  
    display: flex;
    align-items: center;
}

/* Иконка "Лупа" */
.search-form::before { 
    content: "";
    background-image: url("/image/icons/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

/* Поисковая строка */
.placeholder-search {
    width: 356px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.placeholder-search:focus{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 2px solid #AF4FFF;
    border: 0;
}

/* Placeholder в поисковой строке */
.placeholder-search::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}

.placeholder-search:hover::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

/* Кнопка "Найти" */
.search-button {
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #000000;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;
    padding: 0 55px;
    visibility: hidden;
}

.search-button:focus {
    outline: none;
    border: 2px solid #AF4FFF;
}

.search-button:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
}

/* Блок верхнего меню в шапке */
.user-menu {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
}

.header-icon-container {
    width: 50%;
}
 
/* Список ссылок Войти, Сравнить и Корзина */
.header-icon-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 22px;
}

.header-icon-item {
    display: flex;
}

.header-icon-item:hover {
    opacity: 0.6;
}

.header-icon-item:active {
    opacity: 0.3;
}

.header-icon-link{
    color: inherit; 
    font-size: 16px;
    line-height: 19px;
}

.header-icon-link:focus {
    border-radius: 20px;
    outline: 2px solid #AF4FFF;
    outline-offset: 10px;
}

.header-icon-text {
    margin-left: 10px;
}

/* Ссылка "Войти" */
.login {
    margin-right: auto;
}

.basket {
    margin-left: 40px;
}

/* Каталог товаров и сервисные ссылки */
.navigation {
    display: flex;
    margin-top: 45px;
    box-sizing: border-box;
}

.navigation-catalog {
    margin: 0;
    padding: 0;
}

.catalog {
    margin: 0;
    padding: 0;
}

/* Список вложенных ссылок в Каталог товаров */
.catalog-list {
    margin: 0;
    padding: 0;
}

/* Навигация: "Каталог товаров" */
.catalog-link {
    font-family: "Raleway", sans-serif;
    color: inherit;
    line-height: 21px; 
    font-weight: 800;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}

.catalog-link:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 15px;
    border-radius: 25px;
}

.catalog-link:active {
    opacity: 0.3;
}

.header-navigation-container {
    width: 50%;
    margin-left: auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 22px;
}

.navigation-item {
    margin-right: 35px;
    margin-bottom: 10px;
}

.navigation-item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;
}


/* Навигация: "Доставка", "Гарантия", "Контакты" */
.navigation-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 4.2px;
    text-transform: uppercase; 
    padding-bottom: 4px;
}

.navigation-link:focus{
    border-radius: 20px;
    outline: 2px solid #AF4FFF;
    outline-offset: 10px;
}

.navigation-link:hover:before {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -4px;
    content: "";
    height: 2px;
    background-color: #000000;
}

.navigation-link:active {
    opacity: 0.3;
}


/* Ссылки внутри раскрывающегося меню каталога товаров */
.catalog-item-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    letter-spacing: 3.6px;
}
/* ----------------------------/Header----------------------------- */


/* ------------------------------Main------------------------------ */

.main-index {
    flex-grow: 1;
}

/* ----Slider------ */

.slider-item {
    display: flex;
}

.slider-info {
    margin-left: 40px;
}

/* Крупный текст на слайдере */
.slider-text-big {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

/* Мелкий текст на слайдере */
.slider-text { 
    margin-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Кнопки со светло-желтой линией */
.button-yellow-light-line {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    line-height: 21px;
    font-weight: 800;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #FFE17F 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
    letter-spacing: 4.2px;
}


.button-yellow-light-line:focus {
    outline: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #AF4FFF 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
}

.button-yellow-light-line:hover {
    background: #FFE17F;
    padding: 15px 40px;
    box-sizing: border-box;
}

.button-yellow-light-line:active {
    background: #FFE17F;
    padding: 15px 40px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.3);
}

/* Значение параметра на слайде */

.parameter-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.parameter-value {
    margin-top: 70px;
    margin-right: 70px;
    font-size: 36px;
    color: #000000;
}

/* Описание параметра на слайде */
.parameter-description {
    font-size: 16px;
}

/* ----/Slider------ */



/* ----Categories------ */

.categories-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.categories-item {
    width: 160px;
}

/* Желтые квадраты на фоне категорий */
.categories-item-rect {
    display: flex;
    height: 160px;
    background-color: #FFE17F;
    align-items: center;
    justify-content: center;
}

.categories-item-rect:hover {
    background-color: #FFC700;
}

.categories-item:active .categories-item-image {
    opacity: 0.3;
}

/* Подпись категорий */
.categories-title {
    margin-top: 33px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px; 
    color: #000000;
    letter-spacing: -0.48px;
}

.categories-title:active {
    opacity: 0.3;
}

/* ----/Categories------ */


/* ------Services -------*/

/* Кнопки с темно-желтой линией */
.button-yellow-dark-line {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    line-height: 21px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #FFC700 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
    letter-spacing: 4.2px;
}

.button-yellow-dark-line:focus {
    outline: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #AF4FFF 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
}

.button-yellow-dark-line:hover {
    background: #FFC700;
    padding: 10px 17px;
    box-sizing: border-box;
}

.button-yellow-dark-line:active {
    background: #000000;
    color: #FFE17F;
}

.services-item:active {
    background: #000000;
}

.services {
    min-height: 390px;
    margin-top: 70px;
    background: linear-gradient(#FFFFFF 100px, #F0F0F0 100px);
}

.services-container {
    display: flex;
    padding-bottom: 150px;
}

/* Левая колонка сервисных кнопок */
.services-button-column {
    width: 280px;
    box-sizing: border-box;
    margin-top: 90px;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-item {
    margin-bottom: 45px;
}

.services-item:last-child {
    margin-bottom: 0; 
}

.services-decore-line {
    height: 320px;
    border-right: 7px solid #000000;
}

/* Права колонка с информацией в разделе Сервисы */
.services-right-column {
    width: 500px;
    margin: 70px 60px 0 116px;
}

.services-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.services-description {
    color: #444444;
    margin: 0;
}

/* Иконка в разделе Сервис */
.service-image {
    margin-top: 85px;
}

/* ------/Services -------*/



/* ------About-the-company -------*/

/* Блок "Доставим редкий товар под заказ" */

.about-the-company-delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.about-the-company-delivery-container { /* Не получается сделать нормально этот блок с focus */
    display: flex;
    height: auto;
    margin: 90px auto 97px auto;
    justify-content: space-between;
    background-color: #F0F0F0;  
}

.about-the-company-delivery:focus {
    outline: 5px solid #AF4FFF;
}

.about-the-company-delivery:hover .about-the-company-rect {
    background-color: #FFC700;
}

.about-the-company-delivery:active {
    opacity: 0.3;
}

.about-the-company-delivery:active .about-the-company-rect {
    background-color: #FFC700;
}

.about-the-company-rect {
    display: flex;
    width: 125px;
    min-height: 100px;
    background-color: #FFE17F;
    justify-content: center;
    align-items: center;
}

.about-the-company-delivery-text {
    padding: 0 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 4.6px;
    color: #000000;
} 

.about-the-company-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

/* О компании */

.about-us-decore-line {
    width: 80px;
    border-bottom: 7px solid #000000;
}

/* Колонка "О нас" */
.about-us {
    width: 50%;
}

/* Колонка "Контакты" */
.contacts {
    width: 50%;
    padding-left: 20px;
}

/* Стили для заголовков "О нас" и "Контакты" */ 
.about-us-title,
.contacts-title {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.about-us-text-first {
    margin-top:53px;
    margin-bottom: 30px;
}

/* Список транспортных компаний */
.transport-company-list {
    padding: 0;
    margin: 80px 0 76px 0;
}

/* Стили для транспортных компаний */
.transport-company-item {
    margin-bottom: 20px;
    list-style-type: disc;
    color: #FFC700;
}

.transport-company-item:last-child {
    margin-bottom: 0;
}

.transport-company-name {
    font-weight: 700;
    color: #000000;
}


/* Подзаголовки в разделе "Контакты" */

.contacts-text {
    margin-top: 53px;
    margin-bottom: 30px;
}

.contacts-subtitle-first {
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts-subtitle-second {
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.contacts-address {
    font-style: normal;
}

.contacts-phone {
    color: inherit;
}

.working-hours {
    margin-bottom: 70px;
}

/* ------/About-the-company -------*/


/* ------Newsletter -------*/

.newsletter {
    background-color: #F0F0F0;
    display: flex;
}

.newsletter-container {
    padding-bottom: 135px;
}

/* Блок заголовка и текста */
.title-and-text-newsletter {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-right: 30px;
}

.newsletter-title {
    width: 360px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.newsletter-text {
    width: 50%;
    padding-left: 20px;
    white-space: pre-line;
}

.input-and-button-newsletter {
    display: flex;
}

/* Поле ввода e-mail */
.field {
    width: 600px;
    height: 50px;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.field:focus {
    outline: none;
    background-color: #DCDCDC;
}

.field:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.field:valid {
    border-bottom: 3px solid #000000;
}

.field:invalid {
    border-bottom: 3px solid #FF3D3D;
}

.field::placeholder {
    color: rgba(44, 44, 44, 0.5);
    font-size: 18px;
    line-height: 30px;
}

.field:hover::placeholder {
    color: rgba(44, 44, 44, 0.7);
}

.newsletter-form {
    display: flex;
    align-items: flex-end;
}

/* Кнопка "Подписаться" */
.newsletter-button {
    padding: 14px 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.newsletter-button:focus {
    outline: none;
    border: 3px solid #AF4FFF;
}

.newsletter-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.newsletter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-item {
    align-self: center;
    margin-left: auto;
}


/* ------/Newsletter -------*/

/* ------------------------------/Main------------------------------ */


/* ------Page-footer -------*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    padding: 60px 0;
}

/* Средний блок в футере */
.block-middle-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

/* Адрес */
.footer-address-block {
    width: 250px;
}

.footer-contacts-address {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

/* Сервисные ссылки */

.footer-services-block {
    width: 460px;
}

.footer-services-list {
    display: flex;
    width: 460px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

/* Сервисные ссылки футера */
.footer-services-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 4px;
} 

.footer-services-link:focus {
    /* outline: 2px solid #AF4FFF;
    border-radius: 25px;
    padding: 15px 20px; */
}

.footer-services-link:hover::before {
    content: "";
    position: absolute;
    background-color: #FFC700;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -4px;
}

.footer-services-link:hover {
    color: #FFC700;
}

.footer-services-link:active {
    color: #FFC700;
    opacity: 0.3;
}

/* Телефон */
.footer-contacts-phone {
    font-size: 16px;
    color: #ffffff;
} 

/* Нижний блок в футере */

.block-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Декоративная линия */
.footer-decore-line {
    width: 80px;
    border-bottom: 7px solid #FFC700;
}

/* Социальные сети */
 .footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    margin-right: 15px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.social-link:hover circle {
    fill: #FFC700;
    fill-opacity: 1;
}

.social-link:active circle{
    fill: #FFC700;
    fill-opacity: 1;
}

.social-link:active path {
    fill: rgba(44, 44, 44, 0.3);
    fill-opacity: 1;
}

/* Номер телефона в футере */
.footer-contacts-phone:hover {
    color: #FFC700;
}

.footer-contacts-phone:active {
    color: #FFC700;
    opacity: 0.3;
}

/* Ссылка на Htmlacademy */
.htmlacademy-icon:hover path {
    fill: #FFFFFF;
}

.htmlacademy-icon:active path{
    fill: rgba(255, 255, 255, 0.3);
}

/* ------/Page-footer -------*/



/* -------Вторая страница--------------------- */


.inner-header {
    padding-left: 60px;
    box-sizing: border-box;
}

.inner-header-title {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}
.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item {
    margin-right: 15px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-link {
    color: inherit;
}

.header-filter-container {
    width: auto;
    margin-top: 50px;
    background: linear-gradient(to right, #DCDCDC 50%, #EBEBEB 50%);
}

.fiter-and-sorting-titles {
    display: flex;
}

.filter-title-block {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 25px 70px 25px 60px;
    align-items: center;
    background-color: #DCDCDC;
    }

.filter-title {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
}

/* Блок сортировки товаров */
.sorting-title-block {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #EBEBEB;
}

.sorting-type {
}

.sorting {
    padding-left: 70px;
    margin-right: 52px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
}

.select-control {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.arrow-sorting {
    margin-left: auto;
}

.arrow-up {
    opacity: 0.2;
}

.arrow-down-image { 
    margin-left: 20px;
    transform: rotate(180deg);
}

/* Фон каталога */
.background-container {
    width: auto;
    flex-grow: 1;
    background: linear-gradient(to right, #EBEBEB 50%, #ffffff 50%);
}

.catalog-products {
    display: flex;
}

.monopods-filter {
    background-color: #EBEBEB;
    padding-left: 60px;
    padding-right: 70px;
    box-sizing: border-box;
}

.monopod-filter-form {
    width: 200px;
}

.monopod-filter-group {
    padding: 0;
    margin: 0;
}

.monopod-filter-title {
}

.range-toggle {
}

.toggle-min {
}

.toggle-max {
}

.monopod-filter-label {
}

.monopod-filter-input {
    background-color: rgba(0, 0, 0, 0);
}

.monopod-filter-list {
}

.monopod-filter-item {
}

.color {
}

.color-input {
}

.color-mark {
}

.color-label {
}

.monopod-filter-button {
    margin-top: 50px;
    font-size: 18px;
}


/* Карточки товаров + пагинация */
.product-card-right-column {
    background-color: #FFFFFF;
}

.product-card-container {
    margin: 70px 0 44px 70px;
}

.product-card-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    row-gap: 40px;
    column-gap: 44px;
    padding: 0;
}

/* ----Пробуем эффект target------------- */
.product-card-item {
    display: block;
    position: relative;
}





/* ----Пробуем эффект target------------- */

.product-card-title-and-price {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.product-card-title-link {
    width: 280px;
    margin: 0;
}

.product-card-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0,48px;
    color: #000000;
}

.product-card-price {
    margin-left: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    white-space: nowrap;
}

/* Большая кнопка "Показать еще" */
.pagination-show-more-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    padding: 20px 0;
    border: 3px solid rgba(0, 0, 0, 0.1);
    margin: 70px 0 44px 70px;
}

.pagination-show-more-block:focus {
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-show-more-block:hover {
    border: 3px solid #000000;
}

.pagination-show-more-block:active {
    opacity: 0.3;
}

.pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.pagination-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 77px 70px;
    background-color: #EBEBEB;
    box-sizing: border-box;
}

.pagination-number-block {
    display: flex;
}

.pagination-link {
    font-size: 16px;
    line-height: 19px;
    color: rgba(44, 44, 44, 0.3);
}

.pagination-link:focus {
    outline: 5px solid #AF4FFF; /* Добавить отступы */
}

.pagination-link:hover {
    color: #444444;
}

.pagination-link:active {
    color: rgba(44, 44, 44, 0.1);
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
    padding: 26px 29px;
    box-sizing: border-box;
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
    margin-right: 30px;
    color: #444444;
    opacity: 0.3;
    font-size: 16px;
    line-height: 19px;
}

.pagination-item:last-child {
    margin-right: 0;
}
