 @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.center {
    width: 1160px;
    margin: 0 auto;
}

/* У всех элементов списка уберем маркеры */
li {
    list-style-type: none;
}

/* У всех ссылок уберем подчеркивание */
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------------Header--------------------------------- */

.page-header {
    padding: 20px 60px 167px 60px;
    box-sizing: border-box;
    color: #000000;
    background: linear-gradient(#FFFFFF 23px, #FFE17F 23px);
}

/* блок поиска */
.search {
    width: 50%;
}

/* Поисковая строка */
.placeholder-search {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

/* Placeholder в поисковой строке */
.placeholder-search::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

/* Блок верхнего меню в шапке */
.user-menu {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    /* align-items: ; */
}

.header-icon-container {
    width: 50%;
}
 
/* Список ссылок Войти, Сравнить и Корзина */
.header-icon-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-icon-link{
    color: inherit; 
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}

.header-icon-item {
    display: flex;
}

/* Ссылка "Войти" */
.login {
    margin-right: auto;
}

.basket-image {
    margin-left: 40px;
}

/* Каталог товаров и сервисные ссылки */
.navigation {
    display: flex;
    /* justify-content: ;
    align-items: ; */
    margin-top: 45px;
    box-sizing: border-box;
}

.navigation-catalog {
    margin: 0;
    padding: 0;
}

.catalog {
    margin: 0;
    padding: 0;
}

/* Список вложенных ссылок в Каталог товаров */
.catalog-list {
    margin: 0;
    padding: 0;
}

/* Навигация: "Каталог товаров" */
.catalog-link {
    font-family: "Raleway", sans-serif;
    color: inherit;
    line-height: 21px; 
    font-weight: 800;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}

.header-navigation-container {
    width: 50%;
    margin-left: auto;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-item {
    margin-right: 35px;
}

.navigation-item:last-child {
    margin-right: 0;
    margin-left: auto;
}


/* Навигация: "Доставка", "Гарантия", "Контакты" */
.navigation-link {
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 4.2px;
    text-transform: uppercase; 
}

/* Ссылки внутри раскрывающегося меню каталога товаров */
.catalog-item-link {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    letter-spacing: 3.6px;
}
/* ----------------------------/Header----------------------------- */


/* ------------------------------Main------------------------------ */

.main-index {
    flex-grow: 1;
}

/* ----Slider------ */

.slider-item {
    display: flex;
}

.slider-info {
    margin-left: 40px;
}

/* Крупный текст на слайдере */
.slider-text-big {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

/* Мелкий текст на слайдере */
.slider-text { 
    margin-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Кнопки со светло-желтой линией */
.button-yellow-light-line {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    line-height: 21px;
    font-weight: 800;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #FFE17F 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
    letter-spacing: 4.2px;
}


/* Значение параметра на слайде */

.parameter-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.parameter-value {
    margin-top: 70px;
    margin-right: 70px;
    font-size: 36px;
    color: #000000;
}

/* Описание параметра на слайде */
.parameter-description {
    font-size: 16px;
}

/* ----/Slider------ */



/* ----Categories------ */

.categories-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.categories-item {
    width: 160px;
}

/* Желтые квадраты на фоне категорий */
.categories-item-rect {
    display: flex;
    height: 160px;
    background-color: #FFE17F;
    align-items: center;
    justify-content: center;
}

.categories-title {
    margin-top: 33px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px; 
    color: #000000;
    letter-spacing: -0.48px;
}
/* ----/Categories------ */


/* ------Services -------*/

/* Кнопки с темно-желтой линией */
.button-yellow-dark-line {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    line-height: 21px;
    font-weight: 800;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 7px, #FFC700 7px 15px, rgba(0, 0, 0, 0) 15px 20px);
    letter-spacing: 4.2px;
}

.services {
    min-height: 390px;
    margin-top: 70px;
    background: linear-gradient(#FFFFFF 100px, #F0F0F0 100px);
}

.services-container {
    display: flex;
    padding-bottom: 150px;
}

/* Левая колонка сервисных кнопок */
.services-button-column {
    width: 280px;
    box-sizing: border-box;
    margin-top: 90px;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-item {
    margin-bottom: 45px;
}

.services-item:last-child {
    margin-bottom: 0; 
}

.services-decore-line {
    height: 320px;
    border-right: 7px solid #000000;
}


/* Права колонка с информацией в разделе Сервисы */
.services-right-column {
    width: 500px;
    margin: 70px 60px 0 116px;
}

.services-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.services-description {
    color: #444444;
    margin: 0;
}

/* Иконка в разделе Сервис */
.service-image {
    margin-top: 85px;
}

/* ------/Services -------*/



/* ------About-the-company -------*/

/* Блок "Доставим редкий товар под заказ" */

.about-the-company-delivery {
    display: flex;
    height: auto;
    margin: 90px auto 97px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;  
}

.about-the-company-rect {
    display: flex;
    width: 125px;
    min-height: 100px;
    background-color: #FFE17F;
    justify-content: center;
    align-items: center;
}

.about-the-company-delivery-text {
    padding: 0 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 4.6px;
    color:#000000;
} 

.about-the-company-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

/* О компании */

.about-us-decore-line {
    width: 80px;
    border-bottom: 7px solid #000000;
}

/* Колонка "О нас" */
.about-us {
    width: 50%;
}

/* Колонка "Контакты" */
.contacts {
    width: 50%;
    padding-left: 20px;
}

/* Стили для заголовков "О нас" и "Контакты" */ 
.about-us-title,
.contacts-title {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.about-us-text-first {
    margin-top:53px;
    margin-bottom: 30px;

}

/* Список транспортных компаний */
.transport-company-list {
    padding: 0;
    margin: 80px 0 76px 0;
}

/* Стили для транспортных компаний */
.transport-company-item {
    margin-bottom: 20px;
    list-style-type: disc;
    color: #FFC700;
}

.transport-company-item:last-child {
    margin-bottom: 0;
}

.transport-company-name {
    font-weight: 700;
    color: #000000;
}


/* Подзаголовки в разделе "Контакты" */

.contacts-text {
    margin-top: 53px;
    margin-bottom: 30px;
}

.contacts-subtitle-first {
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts-subtitle-second {
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.contacts-address {
    font-style: normal;
}

.contacts-phone {
    color: inherit;
}

.working-hours {
    margin-bottom: 70px;
}

/* ------/About-the-company -------*/


/* ------Newsletter -------*/

.newsletter {
    background-color: #F0F0F0;
    display: flex;
}

.newsletter-container {
    padding-bottom: 135px;
}

/* Блок заголовка и текста */
.title-and-text-newsletter {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-right: 30px;
}

.newsletter-title {
    width: 360px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.newsletter-text {
    width: 50%;
    padding-left: 20px;
    white-space: pre-line;
}

.input-and-button-newsletter {
    display: flex;
}

/* Поле ввода e-mail */
.field {
    width: 600px;
    height: 55px;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
}

.newsletter-form {
    display: flex;
    align-items: flex-end;
}

.field::placeholder {
    color: #444444;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.5;
}

/* Кнопка "Подписаться" */
.newsletter-button {
    padding: 15px 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.newsletter-item {
    align-self: center;
    margin-left: auto;
}


/* ------/Newsletter -------*/

/* ------------------------------/Main------------------------------ */


/* ------Page-footer -------*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    padding: 60px 0;
}

/* Средний блок в футере */
.block-middle-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

/* Адрес */
.footer-address-block {
    width: 250px;
}

.footer-contacts-address {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

/* Сервисные ссылки */

.footer-services-block {
    width: 460px;
}

.footer-services-list {
    display: flex;
    width: 460px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.footer-services-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: #ffffff;
} 

/* Телефон */
.footer-contacts-phone {
    font-size: 16px;
    color: #ffffff;
} 

/* Нижний блок в футере */

.block-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Декоративная линия */
.footer-decore-line {
    width: 80px;
    border-bottom: 7px solid #FFC700;
}

/* Социальные сети */
 .footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    margin-right: 15px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

/* ------/Page-footer -------*/



/* -------Вторая страница--------------------- */

.monopods {
    display: flex;
    padding-left: 60px;
}

.inner-header-title {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px; 
}

/* Breadcrubs */
.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrubs-link {
    color: inherit;
}

.monopod-filter-form {
    width: 330px;
}

