 @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1160px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.center {
    width: 1160px;
    margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* У всех элементов списка уберем маркеры */
li {
    list-style-type: none;
}

/* У всех ссылок уберем подчеркивание */
a {
    text-decoration: none;
}

/* Плавность кнопок и ссылок */
a, button {
    transition: all 0.2s;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------------------------Header--------------------------------- */

.page-header-index {
    margin-top: 17px;
    /* padding: 0 60px 152px; */
    padding: 0 60px 152px 40px;
    box-sizing: border-box;
    color: #000000;
    background: linear-gradient(#FFFFFF 23px, #FFE17F 23px);
}

/* Header страницы Монопод */
.page-header-monopod {
    margin-top: 17px;
    padding: 0px 60px 40px 60px;
    box-sizing: border-box;
    color: #000000;
    background: linear-gradient(#FFFFFF 23px, #FFE17F 23px);
}

.logo-link {
  padding-left: 20px;
}


/* блок поиска */
.search {
    position: relative;
    width: 516px;
    padding-left: 20px;
}

/* Форма поиска (input) */
.search-form {
    display: flex;
    align-items: center;
}

.search::before {
    position: absolute;
    content: "";
    background-image: url("../image/icons/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    bottom: calc(50% - 8px);
    left: 20px;
}

/* Поисковая строка */
.input-search {
    position: relative;
    width: 516px;
    height: 40px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.input-search:focus{
    border-radius: 20px;
    outline: 2px solid #AF4FFF;
}

.input-search:active{
    border-radius: 20px;
    outline: 2px solid #000000;
}

/* Скрыть крестик в инпуте */
.input-search::-webkit-search-decoration,
.input-search::-webkit-search-cancel-button,
.input-search::-webkit-search-results-button,
.input-search::-webkit-search-results-decoration {
    visibility: hidden;
}

/* Placeholder в поисковой строке */
.input-search::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

.input-search:not(:placeholder-shown) {
    border-radius: 20px;
    outline: 2px solid #000000;
}

.input-search:not(:placeholder-shown) + .search-button {
    display: block;
}

/* Вводимый в поле поиска текст */
.search-form input[type=search]{
    padding-left: 36px;
    padding-right: 170px;
    font-size: 16px;
}

/* Кнопка "Найти" */
.search-button {
    position: absolute;
    left: 360px;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    border: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 2px solid #000000;
    padding: 0 55px;
    height: 44px;
    cursor: pointer;
    display: none;
}

.search-button:hover {
    color: #FFFFFF;
    background-color: #000000;
}

.search-button:focus {
    border-left: 2px solid transparent;
    outline: 2px solid #AF4FFF;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    outline: 2px solid #000000;

}

/* Блок верхнего меню в шапке */
.user-menu {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
}

.header-icon-container {
    width: 50%;
}

/* Список ссылок Войти, Сравнить и Корзина */
.header-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 22px;
}

.header-icon-item {
    display: flex;
}

.header-icon-link{
    color: inherit;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header-icon-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.header-icon-link:hover img{
  opacity: 0.6;
}

.header-icon-link:focus {
    border-radius: 20px;
    outline: 2px solid #AF4FFF;
}

.header-icon-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-icon-text {
    margin-left: 10px;
}

/* Ссылка "Войти" */
.login {
    margin-right: auto;
}

.basket-item {
  position: relative;
}

.basket-item:hover .popover {
  display: block;
}

.basket {
    margin-left: 40px;
    padding-right: 0;
}

/* Подложка для ссылки "Корзина" */
.basket::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 20px;
  left: 30px;
  top: 25px;
  background: rgba(0, 0, 0, 0);
}

/* Popover корзины */
.popover {
    position: absolute;
    top: 40px;
    right: -85px;
    z-index: 2;
    box-sizing: border-box;
    width: 320px;
    min-height: 218px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: none;
}

.popover::before {
    content: "";
    position: absolute;
    background-image: url(../image/icons/triangle-popover.svg);
    width: 14px;
    height: 6px;
    left: 140px;
    top: -6px;
}

.popover-content {
    padding: 20px;
}

.cart-items-list {
    padding: 0;
    margin: 0;
}

.cart-item {
    display: grid;
    grid-template-columns: auto 180px auto;
    gap: 0 23px;
}

.cart-item + .cart-item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-title {
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

.cart-item-button {
    grid-column: 3 / 4;
    padding: 5px 0 0 0;
    align-self: baseline;
    cursor: pointer;
    background: none;
    border: none;
}

.number-and-price-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin: 20px -20px 0;
    padding: 0 20px;
    background-color: #1A1A1A;
}

.button-open-basket {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 4.2px;
    cursor: pointer;
}

/* Каталог товаров и сервисные ссылки */
.navigation {
    display: flex;
    margin-top: 45px;
    box-sizing: border-box;
}
/* Каталог товаров */
.navigation-catalog {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 18px;
}

.catalog {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Навигация: "Каталог товаров" */
.catalog-link {
    font-family: "Raleway", sans-serif;
    color: inherit;
    line-height: 21px;
    font-weight: 800;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    /* padding: 12px 20px; */
    padding-left: 20px;
    box-sizing: border-box;
}

.catalog-link:focus {
  outline: 2px solid #AF4FFF;
  border-radius: 25px;
}

.catalog-link:active {
  opacity: 0.3;
}

/* Кнопка раскрывающая "Каталог товаров" */
.catalog-link-nested {
  position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    bottom: -10px;
    right: -18px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    transform: translateX(100%);
}

.catalog-link-nested::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 22px;
  left: 15px;
  margin: auto;
}

.catalog-link-nested::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 22px;
  left: 15px;
  transform: rotate(90deg);
}

.catalog-item-main:hover .catalog-link-nested {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-item-main:hover .catalog-link-nested::after {
  opacity: 0;
}

.catalog-item-main:hover .catalog-link-nested::before {
  background-color: rgba(0, 0, 0, 1);
}

.catalog-item-main:hover .catalog-submenu {
  display: block;
}

.catalog-item-main:active .catalog-link-nested {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.catalog-item-main:active .catalog-link-nested::before {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Блок вложенных ссылок в Каталог товаров */
.catalog-submenu {
  position: absolute;
  z-index: 2;
  width: 1160px;
  min-height: 120px;
  background-color: #FFE17F;
  margin-top: 10px;
  margin-left: -60px;
  padding: 33px 60px 60px;
  display: none;
  box-sizing: border-box;
}

.catalog-list-column {
  line-height: 18px;
  padding: 0;
}

.catalog-list {
  display: flex;
  gap: 50px;
  padding: 0;
}

/* Появление выпадающего каталога при фокусе */
.catalog-item-main:focus-within .catalog-submenu {
  display: block;
}

.catalog-item {
  margin-bottom: 20px;
}

/* Ссылки внутри раскрывающегося меню каталога товаров */
.catalog-item-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: inherit;
  box-sizing: border-box;
  padding: 3px 15px 5px;
}

.catalog-item-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item-link:focus {
  border: 0;
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Доставка, гарантия, контакты */
.header-navigation-container {
    width: 50%;
    margin-left: auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 22px;
}

.navigation-item {
    margin-right: 35px;
    margin-bottom: 10px;
}

.navigation-item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;
}


/* Навигация: "Доставка", "Гарантия", "Контакты" */
.navigation-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    color: inherit;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    /* padding: 15px 20px; */
    box-sizing: border-box;
}

.navigation-link:hover:before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    bottom: -4px;
    height: 2px;
    background-color: #000000;
}

.navigation-link:focus{
    border-radius: 20px;
    outline: 2px solid #AF4FFF;
}

.navigation-link:active {
    opacity: 0.3;
}

/* ----------------------------/Header----------------------------- */


/* ------------------------------Main------------------------------ */

.main-index {
    flex-grow: 1;
}

/* ----Slider------ */

.slider-item {
    display: flex;
    position: relative;
    margin-bottom: 70px;
}

/* Кнопки вперед и назад на слайдере */
.slider-button {
    background-image: url("../image/slider/nav.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 60px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.slider-button:hover {
    opacity: 0.7;
}

.slider-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 10px;
    border-radius: 1px;
}

.slider-button:active{
    opacity: 0.3;
}

/* Кнопка на слайдере "Назад" */
.slider-prev {
    position: absolute;
    top: 100px;
    left: 20px;
}
/* Кнопка на слайдере "Вперед" */
.slider-next {
    position: absolute;
    transform: rotate(180deg);
    top: 100px;
    right: calc(50% + 40px);
}

.slider-image {
    margin-top: -150px;
}

/* Правая часть слайдера */
.slider-info {
    margin-left: 40px;
    margin-top: -25px;
}

/* Крупный текст на слайдере */
.slider-text-big {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

/* Мелкий текст на слайдере */
.slider-text {
    margin-bottom: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Второй класс для задания ширины кнопки "Подробнее" в слайдере */
.slider-button-info {
    width: 220px;
}

/* Кнопки со светло-желтой линией ("Подробнее" в слайдере, "Подробнее о нас", "Напишите нам") */
.button-yellow-light-line {
    display: block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    line-height: 21px;
    font-weight: 800;
    padding: 15px 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 22px, #FFE17F 22px 30px, rgba(0, 0, 0, 0) 30px 51px);
    letter-spacing: 4.2px;
}

.button-yellow-light-line:hover {
    background: #FFE17F;
    box-sizing: border-box;
}

.button-yellow-light-line:focus {
    outline: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 22px, #AF4FFF 22px 30px, rgba(0, 0, 0, 0) 30px 51px);
}

.button-yellow-light-line:active {
    background: #FFE17F;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.3);
}

/* Блок кнопки "Подробнее" и навигации */
.btn-and-pagination {
    display: flex;
    justify-content: space-between;
}

/* Точечная пагинация слайдера */
.slider-pagination {
    margin-right: 60px;
}

.slider-pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 22px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.slider-pagination-button:focus {
  border: none;
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.slider-pagination-button:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.slider-pagination-button-current {
  background-color: #000000;
}


/* Значение параметра на слайде */

.parameter-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.parameter-value {
    margin-top: 70px;
    margin-right: 70px;
    font-size: 36px;
    color: #000000;
}

/* Описание параметра на слайде */
.parameter-description {
    font-size: 16px;
}

/* Крупная нумерация слайда */
.slider-number {
    position: absolute;
    right: 50px;
    top: -65px;
    font-weight: 800;
    color: #ffffff;
    font-size: 180px;
}

/* ----/Slider------ */



/* ----Categories------ */

.categories-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.categories-item {
    width: 160px;
}

.categories-item-link {
    color: #000000;
}

.categories-item-link:focus {
    color: #AF4FFF;
}

/* Желтые квадраты на фоне категорий */
.categories-item-rect {
    display: flex;
    height: 160px;
    background-color: #FFE17F;
    align-items: center;
    justify-content: center;
}

.categories-item-link:hover .categories-item-rect {
    background-color: #FFC700;
}

.categories-item-link:focus .categories-item-rect {
    border: 0;
    outline: 5px solid #AF4FFF;
}

.categories-item:active .categories-item-image {
    opacity: 0.3;
}

/* Подпись категорий */
.categories-title {
    margin-top: 33px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    font-size: 18px;
    color: inherit;
    letter-spacing: -0.48px;
}

.categories-title:focus {
    color: #AF4FFF;
    border: 0;
}

.categories-title:active {
    opacity: 0.3;
}

/* ----/Categories------ */


/* ------Services -------*/

/* Кнопки с темно-желтой линией  (Доставка, Гарантия, Кредит) */
.button-yellow-dark-line {
    display: block;
    width: 160px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border: 0;
    box-sizing: border-box;
    padding: 10px 0;
    line-height: 21px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 16px, #FFC700 16px 24px, rgba(0, 0, 0, 0) 24px 41px);
    letter-spacing: 4.2px;
    cursor: pointer;
}

.button-yellow-dark-line:hover {
    background: #FFC700;
    box-sizing: border-box;
}

.button-yellow-dark-line:focus {
    outline: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 16px, #AF4FFF 16px 24px, rgba(0, 0, 0, 0) 24px 41px);
}

.button-yellow-dark-line:active {
    background: #000000;
    color: #FFE17F;
}

.services-item:active {
    background: #000000;
}

.services {
    min-height: 390px;
    margin-top: 70px;
    background: linear-gradient(#FFFFFF 100px, #F0F0F0 100px);
}

.services-container {
    display: flex;
    padding-bottom: 150px;
}

/* Левая колонка сервисных кнопок */
.services-button-column {
    width: 280px;
    box-sizing: border-box;
    margin-top: 80px;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-item {
    margin-bottom: 45px;
}

.services-item:last-child {
    margin-bottom: 0;
}

.services-decore-line {
    height: 320px;
    border-right: 7px solid #000000;
}

/* Права колонка с информацией в разделе Сервисы */
.services-right-column {
    width: 500px;
    margin: 70px 60px 0 116px;
}

.services-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.services-description {
    color: #444444;
    margin: 0;
}

/* Иконка в разделе Сервис */
.service-image {
    margin-top: 85px;
}

/* ------/Services -------*/



/* ------About-the-company -------*/

/* Блок "Доставим редкий товар под заказ" */

.about-the-company-delivery {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.about-the-company-delivery-container {
    display: flex;
    height: auto;
    margin: 90px auto 97px auto;
    justify-content: space-between;
    align-self: center;
    background-color: #F0F0F0;
}

.about-the-company-delivery-container:focus {
    border: 0;
    outline: 5px solid #AF4FFF;
}

.about-the-company-delivery-container:hover .about-the-company-rect {
    background-color: #FFC700;
}

.about-the-company-delivery-container:active .about-the-company-rect {
    background-color: #FFC700;
}

.about-the-company-delivery-container:active .about-the-company-rect img {
    opacity: 0.3;
}

.about-the-company-delivery-container:active .about-the-company-delivery-text {
    opacity: 0.3;
}

.about-the-company-rect {
    display: flex;
    width: 125px;
    min-height: 100px;
    background-color: #FFE17F;
    justify-content: center;
    align-items: center;
}

.about-the-company-delivery-text {
   display: flex;
   align-items: center;
    padding: 0 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 4.6px;
    color: #000000;
}

/* Иконка доп. информации */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
    align-self: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.5);
}

.info-item {
  opacity: 0.3;
}

.about-the-company-delivery-container:hover .info {
  background-color: #DCDCDC;
}

.about-the-company-delivery-container:hover .info-item {
  opacity: 1;
}

/* "О нас" и "Контакты" */
.about-the-company-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.about-us-decore-line {
    width: 80px;
    border-bottom: 7px solid #000000;
}

/* Колонка "О нас" */
.about-us {
    width: 50%;
}

/* Колонка "Контакты" */
.contacts {
    width: 50%;
    padding-left: 20px;
}

/* Стили для заголовков "О нас" и "Контакты" */
.about-us-title,
.contacts-title {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.about-us-text-first {
    margin-top:53px;
    margin-bottom: 30px;
}

/* Список транспортных компаний */
.transport-company-list {
    padding: 0;
    margin: 80px 0 76px 0;
}

/* Стили для транспортных компаний */
.transport-company-item {
    margin-bottom: 20px;
    list-style-type: disc;
    color: #FFC700;
    list-style-position: inside;
}

.transport-company-item:last-child {
    margin-bottom: 0;
}

.transport-company-name {
    font-weight: 700;
    color: #000000;
}


/* Подзаголовки в разделе "Контакты" */

.contacts-text {
    margin-top: 53px;
    margin-bottom: 30px;
}

.contacts-subtitle-first {
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts-subtitle-second {
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.contacts-address {
    font-style: normal;
}

.contacts-phone {
    color: inherit;
}

.working-hours {
    margin-bottom: 70px;
}

/* Кнопки "Подробнее о нас" и "Напишите нам" */
.button-about-us {
    width: 259px;
}

/* ------/About-the-company -------*/


/* ------Newsletter -------*/

.newsletter {
    background-color: #F0F0F0;
    display: flex;
}

.newsletter-container {
    padding-bottom: 135px;
}

/* Блок заголовка и текста */
.title-and-text-newsletter {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-right: 30px;
}

.newsletter-title {
    width: 360px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.newsletter-text {
    width: 50%;
    padding-left: 20px;
    white-space: pre-line;
}

.input-and-button-newsletter {
    display: flex;
}

/* Поле ввода e-mail */
.field {
    width: 600px;
    height: 50px;
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.field:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.field:focus {
    outline: none;
    background-color: #DCDCDC;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.field:focus:not(:placeholder-shown) {
  border-bottom: 3px solid #000000;
}

.field:invalid {
    border-bottom: 3px solid #FF3D3D;
}

.field::placeholder {
    color: rgba(44, 44, 44, 0.5);
    font-size: 18px;
    line-height: 30px;
}

.field:hover::placeholder {
    color: rgba(44, 44, 44, 0.7);
}

.newsletter-form {
    display: flex;
    align-items: flex-end;
}

/* Кнопка "Подписаться" */
.newsletter-button {
    max-width: 260px;
    padding: 14px 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.newsletter-button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.newsletter-button:focus {
    outline: none;
    border: 3px solid #AF4FFF;
}

.newsletter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-item {
  max-width: 170px;
    align-self: center;
    margin-left: auto;
}

.newsletter-item::before {
    content: "";
    background-image: url(../image/newsletter/free.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 21px;
}

/* ------/Newsletter -------*/

/* ------------------------------/Main------------------------------ */


/* ------Page-footer -------*/

.page-footer {
    background-color: #444444;
}

.page-footer-container {
    padding: 60px 0;
}

/* Средний блок в футере */
.block-middle-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

/* Адрес */
.footer-address-block {
    max-width: 250px;
}

.footer-contacts-address {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

/* Сервисные ссылки */

.footer-services-block {
    max-width: 460px;
}

.footer-services-list {
    display: flex;
    width: 460px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

/* Сервисные ссылки футера */
.footer-services-link {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 4px;
}

.footer-services-link:hover::before {
    content: "";
    position: absolute;
    background-color: #FFC700;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -4px;
}

.footer-services-link:hover {
    color: #FFC700;
}

.footer-services-link:focus {
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
    outline-offset: 15px;
}

.footer-services-link:active {
    color: #FFC700;
    opacity: 0.3;
}

/* Нижний блок в футере */

.block-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

/* Декоративная линия */
.footer-decore-line {
    width: 80px;
    border-bottom: 7px solid #FFC700;
}

/* Социальные сети */
 .footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    margin-right: 15px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.social-link {
    border-radius: 50%;
}

.social-link:hover circle {
    fill: #FFC700;
    fill-opacity: 1;
}

.button-social {
    outline: 0;
}

.button-social:focus .social-link circle{
    fill-opacity: 0;
    outline: 5px solid #AF4FFF;
    border-radius: 50%;
}

.button-social:focus .social-link path {
    fill: #ffffff;
}

.social-link:active circle{
    fill: #FFC700;
    fill-opacity: 1;
}

.social-link:active path {
    fill: rgba(44, 44, 44, 0.3);
    fill-opacity: 1;
}

/* Номер телефона в футере */

.footer-phone-block {
  max-width: 280px;
}

.footer-contacts-phone {
    font-size: 16px;
    color: #ffffff;
}

.footer-contacts-phone:hover {
    color: #FFC700;
}

.footer-contacts-phone:focus {
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 25px;
    outline-offset: 15px;
}

.footer-contacts-phone:active {
    color: #FFC700;
    opacity: 0.3;
}

/* Ссылка на Htmlacademy */
.htmlacademy-icon:hover path {
    fill: #FFFFFF;
}

.htmlacademy-link:focus {
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
    border-radius: 10px;
    outline-offset: 10px;
}

.htmlacademy-icon:active path{
    fill: rgba(255, 255, 255, 0.3);
}

/* ------/Page-footer -------*/

/* Модальное окно */

.modal-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 65px 70px 75px; /* Уменьшил паддинг на 10px, т.к. в макете паддинг считается не до бордера, а с его учетом */
    background-color: #FFFFFF;
    color: #000000;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-auth {
    width: 920px;
}

/* Кнопка "Закрыть" модальное окно */
.modal-close-button {
    position: absolute;
    padding: 0;
    top: 79px;
    right: 68px;
    width: 45px;
    height: 45px;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border: 0;
    background-image: url("../image/icons/del-modal.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 5px solid #AF4FFF;
  outline-offset: 12px;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}

.auth-form-group {
  border: none;
  padding: 0;
  margin: 0;
}

/* Заголовок "Доставка под заказ" */
.modal-title {
    margin: 0;
    margin-bottom: 58px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.field-group {
    position: relative;
    margin: 0;
}

/* Заголовки инпутов */
.auth-form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.4px;
  margin-bottom: 14px;
  padding: 0;
}

.title-number {
  position: relative;
}

/* Input для имени и фамилии, почты*/
.auth-form-field {
  position: relative;
    width: 360px;
    border: 0;
    padding: 20px 50px 20px 20px;
    background-color: #F0F0F0;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    color: #444444;
    box-sizing: border-box;
}

.auth-form-field:hover {
  background-color: #EBEBEB;
}

.auth-form-field:focus {
  outline: 5px solid #AF4FFF;
}

.auth-form-field:focus:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.input-email:invalid {
  outline: 3px solid #FF3D3D;
}

.auth-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.auth-form-field-text::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.input-number-product::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.auth-form-field[type="text"] {
  color: #000000;
  font-size: 16px;
}

.input-email[type="email"] {
  color: #000000;
  font-size: 16px;
}

.auth-form-field-text[type="text"] {
  color: #000000;
  font-size: 16px;
}

.input-number-product[type="number"] {
  color: #000000;
  font-size: 16px;
}

.text-under-input-login {
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
  margin: 0;
  margin-top: 10px;
}

.text-under-input-email {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-top: 10px;
}

/* Иконка в поле имени */
.icon-login-field::before {
  z-index: 1;
  position: absolute;
  content: "";
  background-image: url("../image/icons/name-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 12px;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}

/* Иконка в поле почты */
.icon-email-field::before {
  z-index: 1;
  position: absolute;
  content: "";
  background-image: url("../image/icons/email-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 12px;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
}

/* Поле для ввода в поле "Что нужно привезти" */
.auth-form-field-text {
  width: 560px;
  border: 0;
  padding: 20px;
  background-color: #F0F0F0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  box-sizing: border-box;
}

.auth-form-field-text:hover {
  background-color: #EBEBEB;
}

.auth-form-field-text:focus {
  outline: 5px solid #AF4FFF;
}

.auth-form-field-text:focus:not(:placeholder-shown) {
  outline: 3px solid #000000;
  background-color: #ffffff;
}

.number-product {
  position: relative;
  display: flex;
  height: 60px;
}

/* Иконка Info (Количество) */
.number-product::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  right: 14px;
  top: -10px;
  transform: translateY(-100%);
  background-color: #FFE17F;
  background-image: url(../image/icons/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.input-number-product {
  width: 60px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: #F0F0F0;
}

/* Убрать стрелки у инпута */
.input-number-product::-webkit-outer-spin-button,
.input-number-product::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Кнопки +/- количества товаров */
.minus-modal,
.plus-modal {
  position: relative;
  width: 50px;
  border: none;
  padding: 0;
  background-color: #F0F0F0;
}

/* Минус */
.minus-modal::before {
position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.3);
}

/* Плюс */
.plus-modal::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.3);
}

.plus-modal::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  transform: rotate(90deg);
  background-color:rgba(0, 0, 0, 0.3);
}

.minus-modal:hover::before,
.plus-modal:hover::before,
.plus-modal:hover::after {
  background-color: #000000;
}

/* Кнопка "Отправить" */
.modal-button {
  font-size: 18px;
  margin-top: 54px;
}


/*
.field:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.field:focus {
    outline: none;
    background-color: #DCDCDC;
}

.field:valid {
    border-bottom: 3px solid #000000;
}

.field:invalid {
    border-bottom: 3px solid #FF3D3D;
}

.field::placeholder {
    color: rgba(44, 44, 44, 0.5);
    font-size: 18px;
    line-height: 30px;
}

.field:hover::placeholder {
    color: rgba(44, 44, 44, 0.7);
} */


/* -------Вторая страница--------------------- */


.inner-header {
    padding-left: 60px;
    box-sizing: border-box;
}

.inner-header-title {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 40px;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}
.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item {
    margin-right: 15px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-link {
    color: inherit;
}

.breadcrumbs-link:hover {
    color: #000000;
}

.breadcrumbs-link:focus {
    border: 0;
    outline: 5px solid #AF4FFF;
    outline-offset: 5px;
}

.header-filter-container {
    width: auto;
    margin-top: 50px;
    background: linear-gradient(to right, #DCDCDC 50%, #EBEBEB 50%);
}

.fiter-and-sorting-titles {
    display: flex;
}

.filter-title-block {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 25px 70px 25px 60px;
    align-items: center;
    background-color: #DCDCDC;
    }

.filter-title {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
}

/* Блок сортировки товаров */
.sorting-title-block {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: #EBEBEB;
}

.sorting {
    padding-left: 70px;
    margin-right: 52px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
}

/* Выпадающий список сортировки */
.select-control {
    padding: 7px 15px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.select-control:hover {
    opacity: 0.6;
}

.select-control:focus {
    border: 0;
    outline: 5px solid #AF4FFF;
}

.select-control:active {
    opacity: 0.3;
}

.arrow-sorting {
    margin-left: auto;
}

.arrow-up-image {
    opacity: 0.2;
}

.arrow-down {
    margin-left: 20px;
}

.arrow-down-image {
    transform: rotate(180deg);
}

.arrow-sorting a:focus {
    border: 0;
    outline: 5px solid #AF4FFF;
}

/* Фон каталога */
.background-container {
    width: auto;
    flex-grow: 1;
    background: linear-gradient(to right, #EBEBEB 50%, #ffffff 50%);
}

.catalog-products {
    display: flex;
}

.monopods-filter {
    background-color: #EBEBEB;
    padding-left: 60px;
    padding-right: 70px;
    box-sizing: border-box;
}

.monopod-filter-form {
    width: 200px;
}

.monopod-filter-group {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 57px;
    border: 0;
}

.monopod-filter-group:first-child {
    margin-top: 83px;
}

.monopod-filter-group::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    top: -32px;
    left: 0;
    background-color: #000000;
}

.monopod-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.4px;
    padding: 0;
    color: #000000;
}

.range-scale {
    position: relative;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 15px;
    background-color: #DCDCDC;
}

.range-bar {
    position: absolute;
    height: 2px;
    background-color: #000000;
}

.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:focus {
    outline: 0;
    border: 2px solid #AF4FFF;
}

.range-toggle:active {
    background-color: #000000;
}

.toggle-min {
    top: -9px;
}

.toggle-max {
    right: -9px;
    top: -9px;
}

.range-wrapper-inputs {
    display: flex;
}

.monopod-filter-label {
    display: flex;
    margin-right: 5px;
}

.monopod-range-input {
    width: 50px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
    appearance: textfield;
}

.monopod-range-input::-webkit-outer-spin-button,
.monopod-range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.monopod-filter-list {
    margin: 28px 0 0 0;
    padding: 0;
}

/* Label --> Checkbox (или radio) + наименование */
.control {
   position: relative;
   display: block;
   padding-left: 37px;
}

/* Окно для checkbox */
.control-mark {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
/* Галочка в чекбоксе */
.check {
    position: absolute;
    left: 5px;
    top: 9px;
    visibility: hidden;
}

.control-input[type="checkbox"] ~ span:active {
    opacity: 0.2;
}

.control-input[type="checkbox"]:checked ~ svg:active {
    opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked ~ svg {
    visibility: visible;
}

.control-input[type="checkbox"]:checked ~ span:hover {
    opacity: 0.5;
}

.control-input[type="checkbox"]:checked ~ span:active {
    opacity: 0.2;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
}

/* Подпись к checkbox и radio */
.control-label {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.monopod-filter-button {
    margin-top: 50px;
    font-size: 18px;
}

/* Карточки товаров + пагинация */
.product-card-right-column {
    background-color: #FFFFFF;
}

.product-card-container {
    margin: 70px 0 44px 70px;
}

.product-card-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    row-gap: 40px;
    column-gap: 44px;
    padding: 0;
}

.product-card-item {
    position: relative;
}

.product-card-image-link:focus {
    border: 0;
    outline: 5px solid #AF4FFF;
}

.product-card-title-link:focus {
    color: red;
}

/* Всплывающая кнопка на карточке товара */
.button-yellow-dark-line-on-product-card {
    position: absolute;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    font-size: 18px;
    padding: 10px 15px;
    line-height: 21px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0 16px, #FFC700 16px 24px, rgba(0, 0, 0, 0) 24px 41px);
    letter-spacing: 4.2px;
    cursor: pointer;
    top: 180px;
    left: 90px;
}

.product-card-button {
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 380px;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.product-card-item:hover .product-card-button {
    z-index: 0;
}

.button-yellow-dark-line-on-product-card:hover {
    background: #FFC700;
}

.button-yellow-dark-line-on-product-card:active {
    color: rgba(0, 0, 0, 0.3)
}

/* Наименование и цена на карточке товара */
.product-card-title-and-price {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.product-card-title-link {
    width: 280px;
    margin: 0;
}

.product-card-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0,48px;
    color: #000000;
}

.product-card-price {
    margin-left: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
    white-space: nowrap;
}

/* Большая кнопка "Показать еще" */
.pagination-show-more-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    padding: 20px 0;
    border: 3px solid rgba(0, 0, 0, 0.1);
    margin: 70px 0 44px 70px;
}

.pagination-show-more-block:focus {
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.pagination-show-more-block:hover {
    border: 3px solid #000000;
}

.pagination-show-more-block:active {
    opacity: 0.3;
}

.pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.pagination-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 77px 70px;
    background-color: #EBEBEB;
    box-sizing: border-box;
}

.pagination-number-block {
    display: flex;
}

.pagination-link {
    font-size: 16px;
    line-height: 19px;
    color: rgba(44, 44, 44, 0.3);
}

.pagination-link:focus {
    outline: 5px solid #AF4FFF; /* Добавить отступы */
}

.pagination-link:hover {
    color: #444444;
}

.pagination-link:active {
    color: rgba(44, 44, 44, 0.1);
}

.pagination-prev,
.pagination-next {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    color: #000000;
    padding: 26px 29px;
    box-sizing: border-box;
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: #DCDCDC;
}

.pagination-prev:active,
.pagination-next:active {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
    margin-right: 30px;
    color: #444444;
    opacity: 0.3;
    font-size: 16px;
    line-height: 19px;
}

.pagination-item:last-child {
    margin-right: 0;
}
